.city__tempreture {
    background-color:lemonchiffon;
    width: 50%;
    display:flex;
    flex-direction: row;
    align-items: center;
    border: black 4px solid;
    
}

.city{
    display: flex;
    flex-direction: column;
    align-items: center;
}



